%mf-cta--base {
	@extend %mf-btn--focus;
	@include mf-font-preset();
	border-radius: $mf-size__rounded-corner--cta;
	height: $mf-buffer__2xl;
	padding-left: $mf-buffer__xl;
	padding-right: $mf-buffer__xl;
	width: 100%;
}
%mf-btn--states {
	&:hover {
		color: $mf-color__text--inverse;
		background:$gl-color__gray--hover;
		border: 1px solid $gl-color__gray--hover;
	}
	&:active {
		color: $mf-color__text--inverse;
		background: $gl-color__gray--active;
		border: 1px solid $gl-color__gray--active;
	}
	&.mf-loading:disabled,
	&.mf-loading {
		color: $mf-color__text--inverse;
		background: $gl-color__gray--active;
		border: 1px solid $gl-color__gray--active;

		background-image: url(mf-icon(loading,inverse));
		background-position: 50% 50%;
		background-repeat: no-repeat;
		line-height: 800%;
		overflow: hidden;
	}
}

/* Override default focus behavior with more attractive version */
%mf-btn--focus {
	outline: none;
	&:focus {
		@include mf-focus();
	}
}

/* Call To Action buttons */
.mf-cta {
	&__primary {
		@extend %mf-cta--base;
		background: $gl-color__green;
		border: 1px solid $gl-color__green;
		color: $mf-color__text--inverse;
		-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);

		@extend %mf-btn--states;

		&:hover {
			background: $gl-color__green--hover;
			border: 1px solid $gl-color__green--hover;
			color: $mf-color__text--inverse;
		}

		&:active {
			background: $gl-color__green--active;
			border: 1px solid $gl-color__green--active;
			color: $mf-color__text--inverse;
		}

		&:disabled {
			background: $mf-color__action--disabled;
			border: 1px solid $mf-color__action--disabled;
			color: $mf-color__text--inverse;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}

		&.mf-cta--danger {
			background: $mf-color__negative;
			border: 1px solid $mf-color__negative;

			outline: none;
			&:focus {
				@include mf-focus($mf-color__negative);
			}

			&:hover {
				background: darken($mf-color__negative, 5%);
				border: 1px solid darken($mf-color__negative, 5%);
				color: $mf-color__text--inverse;
			}
			&:active {
				background: darken($mf-color__negative, 10%);
				border: 1px solid darken($mf-color__negative, 10%);
				color: $mf-color__text--inverse;
			}
			&.mf-loading:disabled,
			&.mf-loading {
				background: darken($mf-color__negative, 10%);
				border: 1px solid darken($mf-color__negative, 10%);
				color: $mf-color__text--inverse;
			}
		}
	}
	&__primary--optional {
		@extend %mf-cta--base;
		background: $gl-color__gray;
		border: 1px solid $gl-color__gray;
		color: $mf-color__text--inverse;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);

		@extend %mf-btn--states;


		&:hover {
			background: $gl-color__gray--hover;
			border: 1px solid $gl-color__gray--hover;
			color: $mf-color__text--inverse;
		}

		&:disabled {
			background: $mf-color__action--disabled;
			border: 1px solid $mf-color__action--disabled;
			color: $mf-color__text--inverse;
			box-shadow: none;
		}

		&:active {
			background: $gl-color__gray--active;
			border: 1px solid $gl-color__gray--active;
			color: $mf-color__text--inverse;
		}

		&.mf-cta--danger {
			border: 1px solid $mf-color__negative;
			color: $mf-color__negative;

			outline: none;
			&:focus {
				@include mf-focus($mf-color__negative);
			}

			&:hover {
				background: darken($mf-color__negative, 5%);
				border: 1px solid darken($mf-color__negative, 5%);
				color: $mf-color__text--inverse;
			}
			&:active {
				background: darken($mf-color__negative, 10%);
				border: 1px solid darken($mf-color__negative, 10%);
				color: $mf-color__text--inverse;
			}
			&.mf-loading:disabled,
			&.mf-loading {
				background: darken($mf-color__negative, 10%);
				border: 1px solid darken($mf-color__negative, 10%);
			}
		}
	}
	&__secondary {
		@extend %mf-cta--base;
		background: transparent;
		border: 1px solid transparent;
		color: $mf-color__action;

		@extend %mf-btn--states;

		&:disabled {
			background: transparent;
			border: 1px solid transparent;
			color: $mf-color__gray--darker;
		}

		&:active {
			background: $gl-color__gray--active;
			border: 1px solid $gl-color__gray--active;
			color: $mf-color__text--inverse;
		}

		&.mf-cta--danger {
			color: $mf-color__negative;

			outline: none;
			&:focus {
				@include mf-focus($mf-color__negative);
			}

			&:hover {
				background: darken($mf-color__negative, 5%);
				border: 1px solid darken($mf-color__negative, 5%);
				color: $mf-color__text--inverse;
			}
			&:active {
				background: darken($mf-color__negative, 10%);
				border: 1px solid darken($mf-color__negative, 10%);
			}
			&.mf-loading:disabled,
			&.mf-loading {
				background: darken($mf-color__negative, 10%);
				border: 1px solid darken($mf-color__negative, 10%);
			}
		}
	}
}

/* General buttons */
.mf-btn {
	@extend %mf-btn--focus;
	@include mf-font-preset(small);
	background: transparent;
	border: 1px solid $gl-color__dark-gray;
	border-radius: $mf-buffer__xs;
	color: $gl-color__dark-gray;
	height: $mf-buffer__xl + $mf-buffer__small;
	min-height: $mf-buffer__xl + $mf-buffer__small;
	padding-left: $mf-buffer__medium;
	padding-right: $mf-buffer__medium;
	width: auto;

	@extend %mf-btn--states;

	&:disabled {
		background: transparent;
		border: 1px solid $mf-color__action--disabled;
		color: $mf-color__gray--darker;
	}

	&.mf-cta--danger {
		border: 2px solid $mf-color__negative;
		color: $mf-color__negative;
		margin-right: $mf-buffer__medium;
		margin-bottom: $mf-buffer__5xl;

		outline: none;
		&:focus {
			@include mf-focus($mf-color__negative);
		}

		&:hover {
			background: darken($mf-color__negative, 5%);
			border: 2px solid darken($mf-color__negative, 5%);
			color: $mf-color__text--inverse;
		}
		&:active {
			background: darken($mf-color__negative, 10%);
			border: 2px solid darken($mf-color__negative, 10%);
		}
		&.mf-loading:disabled,
		&.mf-loading {
			background: darken($mf-color__negative, 10%);
			border: 2px solid darken($mf-color__negative, 10%);
		}
	}

	&.mf-flexible {
		width: 100%;
	}
	&.mf-naked {
		border: 0;
	}
	&.mf-naked-margin {
		border: 0;
		margin-right: $mf-buffer__large;
		margin-bottom: $mf-buffer__5xl;
	}
	&__connect {
		height: $mf-buffer__2xl;
		padding-left: $mf-buffer__xl;
		padding-right: $mf-buffer__xl;
		width: 100%;
		margin-bottom: 15px;
	}
}

.mf-cancel-btn {
	color: $mf-color__action;

	&:hover {
	  color: $mf-color__text--inverse;
	}

	&:active {
	  color: $mf-color__text--inverse;
	}
  }
