$mf-font__file-location:  "../../public/fonts" !default; // No trailing slash

@import "mf-ui-standards/variables";
@import "mf-ui-standards/principles/mf-typography";

/* Medfusion mf-connect modal + overlay + launch button */
#mfConnectWrapper, .mf-connect {

  // DEFINE COMMON MF VARIABLES/STYLES FROM MF-UI-STANDARDS
  // imported inside of id selector on purpose so all the styles are applied at last
  @import "../../app-src/bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

  @import "mf-ui-standards/util/mf-focus";
  @import "mf-ui-standards/basics/mf-icons";
  @import "mf-ui-standards/basics/mf-buttons";
  @import "mf-ui-standards/components/mf-modal";

  @import "mf-ui-standards/util/mf-border";
  @import "mf-ui-standards/util/mf-inner-grid";

  @import "mf-ui-standards/basics/h1";
  @import "mf-ui-standards/basics/h2";
  @import "mf-ui-standards/basics/h3";
  @import "mf-ui-standards/basics/h4";
  @import "mf-ui-standards/basics/h5";
  @import "mf-ui-standards/basics/p";

  @import "mf-ui-standards/components/mf-forms";
  @import "mf-ui-standards/components/mf-list--legacy";

  font-family: $mf-font__family;
  @include mf-font-preset();

  .mf-modal {

    a {
      color: $mf-color__text--link;
    }

    .mf-modal-content {
      border-radius: 4px;
      -webkit-box-shadow: none;
      box-shadow: none;

      .mf-loading-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 500;

        .mf-loading-mask {
          height: 100%;
          width: 100%;
          opacity: 0.65;
          background-image: radial-gradient(circle at 50% 50%, #FAFAFA 20%, rgba(0, 0, 0, 0.36) 100%);
        }

        .mf-icon__loader {
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          top: 45%;
        }
      }

      .mf-modal-header {
        border-bottom: none;
        padding-left: $mf-buffer__xl;
        padding-right: $mf-buffer__xl;
        text-align: center;

        @media (max-width: map-get($mf-breakpoints, medium)) {
          padding-left: $mf-buffer__large;
          padding-right: $mf-buffer__large;
        }

        @media (max-width: map-get($mf-breakpoints, small)) {
          padding-left: $mf-buffer__medium;
          padding-right: $mf-buffer__medium;
        }

        .mf-back-button {
          float: left;
          line-height: 18px;
          font-size: 14px;
          cursor: pointer;

          > .mf-icon {
            height: 10px;
            margin-right: 8px;
          }
        }

        .mf-close {
          opacity: 1;
          height: 18px;
          margin-top: 0;

          .mf-icon {
            height: 18px;
            width: 18px;
            margin-right: 0;
          }
        }
      }

      .mf-scrollable {
        overflow-y: auto;
        max-height: 85vh;
      }

      .mf-modal-body {
        @include mf-border--dark();
        min-height: 300px;
        max-height: 100%;
        overflow-y: unset;
        padding: $mf_buffer__small $mf-buffer__medium 56px;

        @media (max-width: map-get($mf-breakpoints, small)) {
          padding: $mf-buffer__small $mf-buffer__small $mf-buffer__xl;
        }
      }

      .mf-modal-footer {
        padding: 16px;
        text-align: center;
        @include mf-inner-grid();
        border-top: 0;
        background-image: linear-gradient(to right, #6BCE2F, #3FA900);

        .mf-brand {
          display: inline-block;
          color: #767676;
          font-size: 13px;

          &__logo {
            display: inline-block;
            height: 16px;
            width: 100%;
            margin-top: 6px;
            background: url(mf-icon(medfusion-logo, dim)) no-repeat bottom;
          }
        }

        .mf-cta__primary,
        .mf-cta__primary--optional,
        .mf-cta__secondary {
          float: right;
          margin-left: 16px;
          width: auto;
        }
      }

      .mf-connection-name {
        margin-top: 2px;
        margin-bottom: 16px;
      }

      .mf-align-top {
        margin-top: -8px;
      }

      .mf-no-padding {
        padding: 0;
      }
    }

    @media (min-width: map-get($mf-breakpoints, small)) {
      .mf-modal-dialog {
        max-width: 600px;
        margin: $mf-buffer__xl;
      }
    }

    // 664px is max-width of the modal + padding
    // we want modal to be centered to screen
    @media (min-width: 664px) {
      .mf-modal-dialog {
        margin: $mf-buffer__xl auto;
      }
    }

    .mf-modal-open {
      display: block;
    }

    .mf-list-header {
      color: #4a4a4a;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.222;

      :first-child {
        margin-top: 0;
      }
    }

    .mf-list-header--small {
      color: #4a4a4a;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.222;

      :first-child {
        margin-top: 0;
      }
    }

    .mf-no-margin {
      margin-bottom: 0;
    }

    #mfPortalBtn {
      margin-bottom: 0;
    }

    #directorySearchBtn {
      margin-top: 24px;
    }

    @mixin display-flex {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      flex: 2;
      flex-direction: column;
      justify-content: center;
    }

    .mf-connect-error {
      color: $mf-color__text--negative;
    }

    .mf-branding--subtle {
      @include mf-font-preset(xs);
      color: $gl-color__gray;
      text-align: center;
      margin-top: 24px;
      margin-bottom: 0;
    }

    .mf-link {
      display: block;
      margin-top: 24px;
      cursor: pointer;
    }

    .mf-reset {
      margin-bottom: 32px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .mf-connect-btn {
    width: 275px;
    padding-left: 64px;
    text-align: left;
    position: relative;

    .mf-icon {
      position: absolute;
      top: 8px;
      left: 24px;
    }
  }

  .mf-center-text {
    text-align: center;
  }

  .mf-negative-alert-border {
    border: 6px solid #FCEDED;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 2px #CC0000;
    margin: 0 $mf-buffer__medium $mf-buffer__molecule--after $mf-buffer__medium;

    @media (max-width: map-get($mf-breakpoints, medium)) {
      margin: 0 $mf-buffer__small $mf-buffer__molecule--after $mf-buffer__small;
    }
  }

  .mf-gradient {
    margin-left: -16px !important;
    margin-right: -16px !important;

    @media (max-width: map-get($mf-breakpoints, small)) {
      margin-left: -8px !important;
      margin-right: -8px !important;
    }

    &.success {
      background-image: linear-gradient(to right, rgba(240, 250, 0, 0.25) 2%, rgba(69, 205, 20, 0.44) 61%, #45CD14 99%);
    }

    &.pending {
      background-image: linear-gradient(to right, rgba(229, 229, 229, 0.30) 2%, #EDEDED 62%, #CFCECE 98%);
    }

    &.refreshing {
      background-image: linear-gradient(to right, rgba(168, 241, 241, 0.50) 0%, rgba(80, 203, 233, 0.66) 65%, rgba(49, 179, 239, 0.99) 100%);
    }

    &.invalid {
      background-image: linear-gradient(to right, rgba(254, 206, 206, 0.28) 5%, rgba(255, 0, 29, 0.19) 62%, rgba(255, 0, 29, 0.37) 98%);
    }

    &.unsupported {
      background-image: linear-gradient(to right, rgba(240, 250, 0, 0.30) 2%, #FDDE7D 61%, rgba(253, 191, 0, 0.68) 99%);
    }
  }

  .mf-leaving-page {

    .mf-header {
      margin-bottom: 0;
    }

    .mf-additional-info {
      font-weight: initial;
      font-size: 14px;
      margin-top: 8px;
      margin-bottom: 0;
    }

    .mf-portal-name {
      font-weight: 600;
    }

    .mf-confirmation-info {
      margin-top: 32px;
      margin-bottom: 0;
    }

    .mf-confirmation-info-title {
      font-weight: bold;
      margin-bottom: 8px;
    }

    .mf-shrunk-text-center {
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
    }

    .mf-shrunk-text-left {
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }

    .mf-navigation-btns {
      margin-top: 40px;
      padding: 0 8px;

      .mf-cancel-btn {
        margin-right: 32px;
      }
    }
  }

  .mf-div-padding {
    padding: 0px $mf-buffer__medium $mf-buffer__xl $mf-buffer__medium;

    @media (max-width: map-get($mf-breakpoints, medium)) {
      padding: 0px $mf-buffer__small $mf-buffer__xl $mf-buffer__small;
    }
  }

  .greenlight-logo {
    width: 184px;
    height: 32px;
  }
}
